---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$baseurl: "{{ site.baseurl }}";

$mei-dark: #333333;
$mei-highlight: #2440AA;
$mei-white: #FFFFFF;
$mei-light: #444140;

$primary-color: $mei-highlight;
$dark-color: $mei-dark;


// Our variables
// $base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   0.8rem;
$small-font-size:  $base-font-size * 0.875;
$menu-font-size:   0.8rem;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "spectre/spectre.scss",
        "spectre/spectre-exp.scss",
        "spectre/spectre-icons.scss",
        "mei.scss"
;

/* MEC 2018 */
.mec2018-register {
  font-weight: bold;
  border: 1px solid $mei-highlight;
}

.mec2018-register:hover {
  border: none;
  border: 1px solid white;
}

.mec2018-page {
  h2, h3, h4, h5 {
    margin: .5em 0 .5em 0;
  }

  .mec2018-logo {
    height: 3em;
  }

  .mec2018-program-row {
    margin: 30px 0 30px 15px;

    .mec2018-program-title {
      margin: 10px 0 10px 0;
    }

    .mec2018-program-speakers {
      font-style: italic;
      font-size: 0.6rem;
    }

    .small-card {
      width: 250px;
    }

    .card {
      margin: 20px 0 20px 0;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

      .card-title {
        font-weight: bold;
      }

    }

  }

  .mec2018-program-row-main {
    margin: 30px 0 30px 0;
    background-color: #f4f4f4;
    padding: 20px 10px 20px 10px;
  }
}
