---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$baseurl: "{{ site.baseurl }}";

$mei-dark: #333333;
$mei-highlight: #2440AA;
$mei-white: #FFFFFF;
$mei-light: #444140;

$primary-color: $mei-highlight;
$dark-color: $mei-dark;


// Our variables
// $base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   0.8rem;
$small-font-size:  $base-font-size * 0.875;
$menu-font-size:   0.8rem;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "spectre/spectre.scss",
        "spectre/spectre-exp.scss",
        "spectre/spectre-icons.scss",
        "mei.scss",
        "bib.scss"
;

/* MEC 2020 */
.mec2020-register {
  font-weight: bold;
  border: 1px solid $mei-highlight;
}

.mec2020-register:hover {
  border: none;
  border: 1px solid white;
}

.mec2020-page {
  h2, h3, h4, h5 {
    margin: .5em 0 .5em 0;
  }

  .mec2020-logo {
    height: 6em;
  }

  .mec2020-program-row-main {
    margin: 30px 0 30px 15px;

    .mec2020-program-title {
      margin: 10px 0 10px 0;
      
      .mec2020-presentation {
      background-color:#d4d4d4;
      }
    }   
    
    .workshop {
        width: 195pt;
        height: 200pt;
    }
    
    .workshop-title {
        width: 160pt;
        height: 105pt;
    }
    
    .poster-session {
        width: 370pt;
        height: 520pt;
    }
    .mec2020-program-speakers {
      font-style: italic;
      font-size: 0.7rem;
    }
    
    .unconference{
        height: 95pt;
    }

    .small-card {
      width: 250px;
    }

    .card {
      margin: 20px 0 20px 0;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

      .card-title {
        font-weight: bold;
      }

    }

  }
  
  .mec2020-abstract {
        font-size: 20px;
        font-weight: bold;
        
  }
  .mec2020-program-row-main {
    margin: 30px 0 30px 0;
    background-color: #f4f4f4;
    padding: 20px 10px 20px 10px;
  }

/* MEC 2019 */
.mec2019-register {
  font-weight: bold;
  border: 1px solid $mei-highlight;
}

.mec2019-register:hover {
  border: none;
  border: 1px solid white;
}

.mec2019-page {
  h2, h3, h4, h5 {
    margin: .5em 0 .5em 0;
  }

  .mec2019-logo {
    height: 6em;
  }

  .mec2019-program-row-main {
    margin: 30px 0 30px 15px;

    .mec2019-program-title {
      margin: 10px 0 10px 0;
      
      .mec2019-presentation {
      background-color:#d4d4d4;
      }
    }   
    
    .workshop {
        width: 195pt;
        height: 200pt;
    }
    
    .workshop-title {
        width: 160pt;
        height: 105pt;
    }
    
    .poster-session {
        width: 370pt;
        height: 520pt;
    }
    .mec2019-program-speakers {
      font-style: italic;
      font-size: 0.7rem;
    }
    
    .unconference{
        height: 95pt;
    }

    .small-card {
      width: 250px;
    }

    .card {
      margin: 20px 0 20px 0;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

      .card-title {
        font-weight: bold;
      }

    }

  }
  
  .mec2019-abstract {
        font-size: 20px;
        font-weight: bold;
        
  }
  .mec2019-program-row-main {
    margin: 30px 0 30px 0;
    background-color: #f4f4f4;
    padding: 20px 10px 20px 10px;
  }
}
