version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    labels:
      - 'gh actions dependencies'

  # Maintain dependencies for Ruby
  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: daily
    labels:
      - 'dependencies'