---
layout: default
---


  <div class="columns">
    <div class="column col-12">
      <div class="carousel startCarousel">
        <input id="slide-1" name="carousel-radio" class="carousel-locator" checked="" type="radio" hidden="">
        <input id="slide-2" name="carousel-radio" class="carousel-locator" type="radio" hidden="">
        <input id="slide-3" name="carousel-radio" class="carousel-locator" type="radio" hidden="">
        <input id="slide-4" name="carousel-radio" class="carousel-locator" type="radio" hidden="">
        <div class="carousel-container">
          <figure class="carousel-item">
            <label class="item-prev btn btn-action btn-lg" for="slide-4">
              <i class="icon icon-arrow-left"></i>
            </label>
            <label class="item-next btn btn-action btn-lg" for="slide-2">
              <i class="icon icon-arrow-right"></i>
            </label>
            <img src="pix/schumann_overlay.jpg" class="img-responsive rounded" alt="macOS Yosemite Wallpaper">
          </figure>
          
          <figure class="carousel-item">
            <label class="item-prev btn btn-action btn-lg" for="slide-1">
              <i class="icon icon-arrow-left"></i>
            </label>
            <label class="item-next btn btn-action btn-lg" for="slide-3">
              <i class="icon icon-arrow-right"></i>
            </label>
            <img src="pix/slider_cmn.jpg" class="img-responsive rounded" alt="macOS Yosemite Wallpaper">
          </figure>
          
          <figure class="carousel-item">
            <label class="item-prev btn btn-action btn-lg" for="slide-2">
              <i class="icon icon-arrow-left"></i>
            </label>
            <label class="item-next btn btn-action btn-lg" for="slide-4">
              <i class="icon icon-arrow-right"></i>
            </label>
            <img src="pix/slider_neumes.jpg" class="img-responsive rounded" alt="macOS Yosemite Wallpaper">
          </figure>
          
          <figure class="carousel-item">
            <label class="item-prev btn btn-action btn-lg" for="slide-3">
              <i class="icon icon-arrow-left"></i>
            </label>
            <label class="item-next btn btn-action btn-lg" for="slide-1">
              <i class="icon icon-arrow-right"></i>
            </label>
            <img src="pix/mermeid-cnw.png" class="img-responsive rounded" alt="macOS Yosemite Wallpaper">
          </figure>
        </div>
        <div class="carousel-nav">
          <label class="nav-item text-hide c-hand" for="slide-1">1</label>
          <label class="nav-item text-hide c-hand" for="slide-2">2</label>
          <label class="nav-item text-hide c-hand" for="slide-3">3</label>
          <label class="nav-item text-hide c-hand" for="slide-4">4</label>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column col-8">
      <h1>Music Encoding Initiative</h1>
      <p>
        The Music Encoding Initiative (MEI) is a community-driven effort to define a system for encoding musical documents in a machine-readable structure. MEI brings together specialists from various music research communities, including technologists, librarians, historians, and theorists in a common effort to define best practices for representing a broad range of musical documents and structures. The results of these discussions are formalized in the MEI schema, a core set of rules for recording physical and intellectual characteristics of music notation documents expressed as an eXtensible Markup Language (XML) schema. It is complemented by the MEI Guidelines, which provide detailed explanations of the components of the MEI model and best practices suggestions.
      </p>
      <p>
        MEI is hosted by the <a href="http://www.adwmainz.de/startseite.html">Akademie der Wissenschaften und der Literatur</a>,
        Mainz.
      </p>
      <p>
        If you want to become an active MEI member, you are invited to read more about the community and then join us on the MEI-L mailing list.
      </p>
    </div>
    <div class="column col-4 newsMenu">
      <h4>News</h4>
      {% for post in site.posts limit:3 %}
      
      <!--<div class="panel">
        <div class="panel-header">
          <div class="panel-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
        </div>
        <div class="panel-nav">
          <!-\- navigation components: tabs, breadcrumbs or pagination -\->
        </div>
        <div class="panel-body">
          {{ post.excerpt }}
          {{ post.date | date: "%b %-d, %Y" }}<!-\- contents -\->
        </div>
        <div class="panel-footer">
          
        </div>
      </div>-->
      
      {% if forloop.index0 > 0 %}
      <div class="divider"></div>
      {% endif %}
      
      <div class="tile">
        <div class="tile-icon">
          <div class="example-tile-icon">
            <i class="icon icon-forward centered"></i>
          </div>
        </div>
        <div class="tile-content">
          <h5 class="tile-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h5>
          <p class="tile-subtitle text-gray"><small>Posted {{ post.date | date: "%b %-d, %Y" }}</small></p>
          <p>{{ post.excerpt }}</p>
        </div>
        
      </div>
      {% endfor %}
    </div>
  </div>


