<!-- Make sure to mirror changes in the guidelines repository in _include/footer.html when necessary -->
<footer>
  <div class="container">
    <div class="columns institutions">
      <div class="column col-6 text-right mr-0">
        <a class="institutionsLink mx-2" target="_blank" href="https://www.adwmainz.de">
          <img src="{{site.style_baseurl}}/pix/akademie-small.png" alt="Akademie der Wissenschaften | Mainz" />
        </a>
      </div>
      <div class="column col-6 text-left">
        <a class="institutionsLink mx-2" target="_blank" href="https://rism.digital">
          <img src="{{site.style_baseurl}}/pix/rism.png" alt="RISM Digital Center | Bern" />
        </a>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a class="footerLinks" href="{{site.style_baseurl}}/">Home</a> | <a class="footerLinks" href="{{site.style_baseurl}}/community/community-contacts.html">Contact</a><br/>
    <small>© {{site.title}} {{ "now" | date: "%Y" }}</small>
  </div>
</footer>
