<!-- Make sure to mirror changes in the guidelines repository in _include/header.html when necessary -->
<header class="navbar">
  <div class="navbar-section">
    <a class="navbar-brand" href="{{ site.url }}">
      <img src="{{site.baseurl}}/pix/meilogo-inverted.png" alt="MEI logo"/>
    </a>
    <div class="hide-lg">
      {% include menu.html %}
    </div>
  </div>
  <div class="navbar-section" id="socialLinks">
    <a class="githubLink" target="_blank" href="https://github.com/music-encoding" title="Link to GitHub">
      <img src="{{site.style_baseurl}}/pix/github.png" alt="GitHub" class="logo"/>
    </a>
    <a class="slackLink" target="_blank" href="https://music-encoding.slack.com/" title="MEI Slack channel">
      <img src="{{site.style_baseurl}}/pix/slack.png" alt="Slack" class="logo"/>
    </a>
  </div>
    {% include menu-accordion.html %}
</header>
