header.navbar {
    
    background-color: #e5e5e5;
    padding: 5px;
    margin-bottom: 20px;
    height: 60px;
    
    a.btn.btn-link {
        color: #333333;
        font-weight:100;
    }
    
    .twitterCircle {
        margin: -32px 20px 0 0;
        width: 40px;
        height: 40px;
        background-color: #333333;
        
        img {
            width: 35px;
            height: 35px;
            margin: 5px;
        }
    }
    
    .githubLink {
        
        margin: -25px 10px 0 0;
        
        img {
            height: 40px;
        }
    }
    
    .dropdown.dropdownCustomMenuToggle {
        margin-top: -35px;
    }
    
    .menu {
        z-index: 1000;
    }
    
    .navbar-brand {
        color: transparent;
        background-image: url('{{site.baseurl}}/pix/meilogo-both.png');
        background-size: 80px;
        width: 80px;
        background-repeat: no-repeat;
        margin: 4px 30px 10px 10px;
    }
}

.newsMenu {

    .divider {
        margin: .2rem 0 .8rem;
    }
    
    p.tile-title {
        margin: .1rem 0 -.2rem;
    }
}

.startCarousel {
    height: 320px;
    margin: 0 0 30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
}

footer {
    background-color: #333333;
    background-image: linear-gradient(to bottom, #1a1a1a, #292929 25%, #222222);
    
    color: #e5e5e5;
    padding-bottom: 30px;
    
    a {
        color: #e5e5e5;
        font-weight: 300;
        &:visited, &:hover, &:active {
            color: #e5e5e5;
        }
    }
    
    .institutions {
        
        padding: 20px;
        
        .institutionsLink {
            
            img {
                
            }
        }
    }
}
