
/*
    Sticky footer
*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

/*
    Navbar styles
*/
header.navbar {
    background-color: $dark-color;
    margin-bottom: 20px;

    a {
        font-size: $menu-font-size;

        i.icon {
            margin-top: -14px;
        }
    }

    a.top-menu-link {
        color: $mei-white;

        &:focus {
            background: $mei-highlight;
            color: $mei-white;
        }

        &:hover {
            background: $mei-highlight;
            color: $mei-white;
        }
    }

    a.menu-link {
        color: $mei-dark;
    }

    .menu {
        z-index: 1000;
    }

    .navbar-brand {
        margin: 14px 14px 0 14px;
        img {
            height: 40px;
        }
    }

    .logo {
        margin-right: 20px;
        height: 30px;
    }
}

.newsMenu {

    .divider {
        margin: .2rem 0 .8rem;
    }
    
    p.tile-title {
        margin: .1rem 0 -.2rem;
    }
}

.startCarousel {
    height: 320px;
    margin: 0 0 30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    background-color: $dark-color;
    color: $mei-white;
    padding-bottom: 30px;
    
    a {
        color: $mei-white;
        font-weight: 300;
        &:visited, &:hover, &:active {
            color: $mei-white;
        }
    }

    .institutions {
        padding: 20px;
        & a.institutionsLink {
           img {
               height: 80px;  
           } 
        }
    }
}

p.sectionToc a {
    display: block;
    
    &.level-3 {
        margin-left: 1.5em;
        
    }
    
    &.level-4 {
        margin-left: 3em;
    }
}

a.link_odd_elementSpec {
    &:before {
        content: '<';
    }
    &:after {
        content: '>';
    }
}

a.guidelines-edit {
    margin-left: 10px;
    float: right;
    opacity: .2;
}

h2:hover a.guidelines-edit, h3:hover a.guidelines-edit, h4:hover a.guidelines-edit, h5:hover a.guidelines-edit, h6:hover a.guidelines-edit {
    opacity: 1;
}

.wovenodd-col1 {
    vertical-align: top;
}

.wovenodd-col2 .code {
    .indent1 .indent {
        margin-left: 1em;
    }
    
    .attribute .attributevalue {
        margin-left: -.6em;
        
        a {
            margin-left: -.6em;
        }
    }
}

div.tile {
    
    margin-left: 1rem;
    
    & + div.tile {
        margin-top: .5rem;
    }
    
    & + p {
        margin-top: 1em;
    }
    
}

// * + h3 {
//     margin-top: 4rem;
// }

// * + h4 {
//     margin-top: 2rem;
// }

// * + h5, * + h6 {
//     margin-top: 2rem;
// }

// h1, h2, h3, h4, h5, h6 {
//     margin-left: -1rem;
// }

.newsMenu {
    h1, h2, h3, h4, h5, h6 {
        margin-left: unset;
    }
    
    h5.tile-title {
        margin-bottom: 0;
    }
}

ul.nav li.nav-item:first-child {
    margin-top: 0;
    
    a {
        padding-top: 0;
    }
}

.projects {
    .card {
        margin-bottom: 1rem;
        box-shadow: 0 5px 15px #00000033;
    }
}

.example-tile-icon {
    align-content: space-around;
    align-items: center;
    background: #5755d9;
    border-radius: .1rem;
    color: #fff;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-line-pack: distribute;
    font-size: 1.2rem;
    height: 2rem;
    width: 2rem;
}

.newsTitle {
    small {
        display: block;
        color: #666666;
        font-size: 70%;
    }
}

.newsEntry {
    margin-left: 1rem;
    margin-bottom: 3rem;
}

.icon {
    color: #ffffff;
}

/* Code Display for Samples */

.sampleCode pre {
    overflow: auto;
    background-color: #f5f5f5;
    padding: .5rem;
    border-radius: .25rem;
    
    code {
        background: unset;
    }
}

/* Tag Library */

table.wovenodd {
    
    border-collapse: collapse;
    width: 100%;

    & > tbody > tr > td {
        border: .5px solid #cccccc;
        
        table thead {
            display: none;
        }
    }
}
