/* specific css for proceedings added on top of bib.scss */

/* create centered section divider with lines*/
.mec-proceedings-section-divider {
    color: $dark-color;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    line-height: 1.0em;

    &:before {
        border-top: 2px solid $dark-color;
        content: '';
        display: table-cell;
        position: relative;
        top: 0.5em;
        flex: auto;
        margin-right: 0;
    }
    &:after {
        border-top: 2px solid $dark-color;
        content: '';
        display: table-cell;
        position: relative;
        top: 0.5em;
        flex: auto;
        margin-left: 0.25em;
    }
}

/* remove bibbase header (only) for proceedings */
.mec-proceedings #bibbase_header {
    display: none;
}



