---
layout: conference
title: "People Involved in the Conference"
---

<div style="margin-top:2em;">
    <h2>Local Organizing Committee</h2>
    <ul>
    {% for omember in page.organizers %}
        <li>{{ omember }}</li>
    {% endfor %}
    </ul>
    
    <h2>Program Committee</h2>
    <ul>
    {% for pmember in page.program %}
        <li>{{ pmember }}</li>
    {% endfor %}
    </ul>

    <h2>Keynote Speakers</h2>
    <ul>
    {% for speaker in page.keynotes %}
        <li>{{ speaker }}</li>
    {% endfor %}
    </ul>
</div>
