---
layout: default
title: "People Involved in the Conference"
---

<div style="margin-top:2em;">
    <h2>Local Organizing Committee</h4>
    <ul>
    {% for omember in page.organizers %}
        <li><span style="font-weight: 400;">{{ omember }}</span></li>
    {% endfor %}
    </ul>
    
    <h2>Program Committee</h4>
    <ul>
    {% for pmember in page.program %}
        <li><span style="font-weight: 400;">{{ pmember }}</span></li>
    {% endfor %}
    </ul>

    <h2>Keynote Speakers</h4>
    <ul>
    {% for speaker in page.keynotes %}
        <li><span style="font-weight: 400;">{{ speaker }}</span></li>
    {% endfor %}
    </ul>
</div>
