---
layout: default
---
<div class="columns">
    <div class="column col-10 col-sm-11">
      <div class="dropdown col-sm-1 show-sm">
        <div class="rounded bg-gray text-center my-1">
          <a href="#" class="btn btn-primary dropdown-toggle btn-lg" id="mec2020-menuBtn">
            <i class="icon icon-menu"></i>
          </a>

          <ul class="menu text-left" id="mec2020-menu">
            {% for m in site.sidemenu %}
                {% if page.sidemenu == m.id %}
                    {% for s in m.content %}
                    <li class="menu-item {% if s.id == 'register' %} mec2020-register {% endif %}">
                        <a href="{{m.url}}{{s.url}}">{{s.label}}</a>
                    </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
        {{ content }}
    </div>
    <div class="column col-2 hide-sm">
      <ul class="menu">
        {% for m in site.sidemenu %}
            {% if page.sidemenu == m.id %}
                {% for s in m.content %}
                <li class="menu-item {% if s.id == 'register' %} mec2020-register {% endif %}">
                    <a href="{{m.url}}{{s.url}}" {% if s.id == page.id %} class="active" {% endif %}>{{s.label}}</a>
                </li>
                {% endfor %}
            {% endif %}
        {% endfor %}
      </ul>
      <!-- <a href="https://www.umweltzeichen.at/en/home/start" target="_blank"><img src="/images/conference/2019/ecolabel.jpg" style="width:100%; padding:20px;" alt="Österreichisches Umweltzeichen"/></a> -->
    </div>
    <script>
      // For iphones
      document.querySelector("#mec2020-menuBtn").addEventListener("touchstart", function() {
        let m = document.querySelector("#mec2020-menu")
        if (m.style.display === 'none') {
          m.style.display = 'block'
        } else {
          m.style.display = 'none'
        }
      })
    </script>
</div>
