---
layout: default
---
<div class="columns">
    <div class="column col-10 col-sm-11">
      <div class="dropdown col-sm-1 show-sm">
        <div class="rounded bg-gray text-center my-1">
          <button class="btn btn-primary dropdown-toggle btn-lg">
            <i class="icon icon-menu"></i>
          </button>

          <ul class="menu text-left">
            {% for m in site.sidemenu %}
                {% if page.sidemenu == m.id %}
                    {% for s in m.content %}
                    <li class="menu-item {% if s.id == 'register' %} mec2018-register {% endif %}">
                        <a href="{{m.url}}{{s.url}}">{{s.label}}</a>
                    </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
        {{ content }}
    </div>
    <div class="column col-2 hide-sm">
      <ul class="menu">
        {% for m in site.sidemenu %}
            {% if page.sidemenu == m.id %}
                {% for s in m.content %}
                <li class="menu-item {% if s.id == 'register' %} mec2018-register {% endif %}">
                    <a href="{{m.url}}{{s.url}}" {% if s.id == page.id %} class="active" {% endif %}>{{s.label}}</a>
                </li>
                {% endfor %}
            {% endif %}
        {% endfor %}
      </ul>
    </div>
</div>
