---
layout: default
---
<div class="columns">
    <div class="column col-8">
      <header>
        <h1>{{ page.title }}</h1>
        <p class="subtitle">{{ page.subtitle }}</p>
      </header>
      <div class="divider"></div>
      {{ content }}
    </div>
    <div class="column col-4">
      <div class="panel">
        <div class="panel-header">
          {% if page.image %}
            {% assign imageUriStartsWith = page.image | slice: 0, 4 %}
            {% if imageUriStartsWith == 'http' %}
              <img class="mei-project-image img-responsive" alt="{{ page.title }} logo" src="{{ page.image }}" />
            {% else %}
              <img class="mei-project-image img-responsive" alt="{{ page.title }} logo"  src="{{ site.baseurl }}/tools/{{ page.image }}" />
            {% endif %}
          {% endif %}
        </div>
        <div class="panel-body">
          <dl>
            <dt>Tags</dt>
            <dd>
              {% for tag in page.tags %}
              <label class="chip" for="{{ tag }}">{{ tag }}</label>
              {% endfor %}
            </dd>
            <dt>Website</dt>
            <dd><a href="{{ page.website }}" target="{{ page.website }}">{{ page.website }}</a></dd>
            <dt>Repository</dt>
            <dd><a href="{{ page.repository }}" target="{{ page.repository }}">{{ page.repository }}</a></dd>
          </dl>
        </div>
      </div>
    </div>
</div>
