---
layout: default
---
<div class="columns">
    <div class="column col-8">

        {{ content }}

    </div>
    <div class="column col-4">
      <span class="divider"></span>
      <h4>Official tools</h4>
      <ul class="nav">
        <li class="nav-item"><a href="#mei-schema">MEI Schema</a></li>
        <li class="nav-item"><a href="#sample-encodings">Sample encodings</a></li>
        <li class="nav-item"><a href="#encoding-tools">Encoding tools</a></li>
        <li class="nav-item"><a href="#customization-service">Customization service</a></li>
      </ul>
      <span class="divider"></span>
      <h4>Community tools</h4>
      <ul class="nav">
        <li class="nav-item"><a href="#mermeid">MerMEId</a></li>
        <li class="nav-item"><a href="#sibmei">SibMEI</a></li>
        <li class="nav-item"><a href="#libmei">LibMEI</a></li>
        <li class="nav-item"><a href="#mei-to-music21-converter">MEI to Music21 Converter</a></li>
        <li class="nav-item"><a href="#meiler">MEILER</a></li>
        <!-- <li class="nav-item"><a href="#meise">MEISE</a></li> -->
        <li class="nav-item"><a href="#meiview">meiView</a></li>
        <li class="nav-item"><a href="#verovio">Verovio</a></li>
      </ul>
      <span class="divider"></span>
    </div>
</div>
