---
layout: default
---
<div class="columns">
    <div class="column col-8 col-sm-12 tutorialBox">

        {% if page.type != 'tutorial' %}

            {{ content }}

        {% else %}

            <h2>{{ page.fullname }}</h2>

            {% if content %}
                {{ content }}
            {% endif %}

            <h3 id="stepLabel"></h3>
            <div id="instruction">
                <!-- instruction texts go in here -->
            </div>
            <div id="editorContainer" style="display: none;">
                <h3>MEI Editor
                    <button id="btn-openFullFileModal" class="btn btn-link float-right disabled" title="only allowed when valid">show full encoding</button>
                    <button id="btn-toggleHint" class="btn btn-link float-right disabled" title="trick or cheat">show hint</button>
                </h3>
                <div id="editorBox">
                    <div id="editor">
                        <!-- editor content goes in here -->
                    </div>
                </div>

                <div id="hints" style="display: none;">
                    <!-- validation hints go in here -->
                </div>

                <h3>Rendition</h3>
                <div id="rendering">
                    <!-- verovio rendering goes in here -->
                </div>
            </div>
            <button id="nextStepButton" class="btn btn-primary btn-sm float-right">Continue <i class="icon icon-forward"></i></button>
            
            <div id="acknowledgments" style="display: none;">
                <h3>Acknowledgments</h3>
                <p>This tutorial was brought to you by:</p>
                <ul id="ackList"></ul>
            </div>
            
            <ul id="stepBox" class="step">
                <!-- tutorial step list goes in here -->
            </ul>
        
            <div class="modal modal-lg" id="fullFileModal"><a id="fullFileModalCloseBack" class="modal-overlay" href="#modals-sizes" aria-label="Close"></a>
                <div class="modal-container" role="document">
                    <div class="modal-header"><a id="fullFileModalCloseTop" class="btn btn-clear float-right" href="#modals-sizes" aria-label="Close"></a>
                        <div id="fullFileTitle" class="modal-title h5"></div>
                    </div>
                    <div class="modal-body">
                        <div id="fullFileContent" class="content">
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a id="fullFileDownloadBtn" class="btn btn-primary"><i class="icon icon-download"></i> Download</a>
                        <a id="fullFileModalCloseBottom" class="btn btn-link" href="#modals-sizes">Close</a>
                    </div>
                </div>
            </div>

            <script src="/js/ace-src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
            <script src="/js/verovio-toolkit.js" type="text/javascript" charset="utf-8"></script>
            <script src="/js/mei-tutorials.js" type="text/javascript" charset="utf-8"></script>
            <script type="text/javascript">

                try {
                    fetch("../{{page.data}}")
                        .then(function(response) {
                            if (response.ok) {
                                return response.json()
                            }
                            throw new Error('Network response was not ok while trying to fetch ', page.data);
                        })
                        .then(function(data) {
                            setupTutorial(data);
                        });
                } catch(err) {
                    console.log('Unable to require data: ' + err)
                }

            </script>
        {% endif %}
    </div>

    <!-- side menu -->
    <div class="column col-4 col-sm-12">
        <h2>Available Tutorials</h2>
        {% assign t = site.collections | where: "label","tutorials" | first %}
        {% for tutorial in t.docs %}
        {% if tutorial.name != page.name %}
        <div class="tile">
            <div class="tile-icon">
                <div class="example-tile-icon">
                    <a href="{{ tutorial.url }}.html" class="icon icon-message centered"></a>
                </div>
            </div>
            <div class="tile-content">
                <div class="tile-title"><a href="{{ tutorial.url }}.html">{{ tutorial.name }}</a></div>
                <div class="tile-subtitle text-gray">{{tutorial.fullname}}</div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
