---
layout: default
---
<div class="columns">
    <div class="column col-8 tutorialBox">

        {% if page.type != 'tutorial' %}
        <h2>MEI Tutorials</h2>
        <p>On this page, you'll find a number of small tutorials for MEI,
            each of them introducing a specific feature. If
            you're about to start learning MEI, we recommend to start with
            the 5 minute Quickstart tutorial, which will let you encode
            a very simple melody with MEI. </p>
        {% else %}

            <h2>{{ page.fullname }}</h2>

            {% if content %}
                {{ content }}
            {% endif %}

            <h3>Instructions: <span id="stepLabel"></span></h3>
            <div id="instruction">

            </div>
            <h3>MEI Editor</h3>
            <div id="editorBox">
                <div id="editor"></div>
            </div>
            <div id="hints">
                <!-- validation hints go in here -->
            </div>
            <h3>Rendition</h3>
            <div id="rendering">

            </div>
            <ul id="stepBox" class="step">

            </ul>

            <script src="/js/ace-src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
            <script src="/js/verovio-toolkit.js" type="text/javascript" charset="utf-8"></script>
            <script src="/js/tutorials.js" type="text/javascript" charset="utf-8"></script>
            <script type="text/javascript">

                try {

                    fetch("../{{page.data}}")
                        .then(function(response) {
                            return response.json()
                        })
                        .then(function(data) {
                            setupTutorial(data);
                        });
                } catch(err) {
                    console.log('Unable to require data: ' + err)
                }

            </script>
        {% endif %}


    </div>
    <div class="column col-4">
        <h2>Available Tutorials</h2>
        {% assign t = site.collections | where: "label","tutorials" | first %}
        {% for tutorial in t.docs %}
        {% if tutorial.name != page.name %}
        <div class="tile">
            <div class="tile-icon">
                <div class="example-tile-icon">
                    <a href="{{ tutorial.url }}.html" class="icon icon-message centered"></a>
                </div>
            </div>
            <div class="tile-content">
                <div class="tile-title"><a href="{{ tutorial.url }}.html">{{ tutorial.name }}</a></div>
                <div class="tile-subtitle text-gray">{{tutorial.fullname}}</div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>